:root {
  --slate-700: #334155;
  --slate-300: #cbd5e1;
  --slate-900: #0f172a;
  --slate-400: #94a3b8;
}

.header {
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 15px;
  color: white;
  background-color: #2563eb;
  background-color: var(--slate-900);
}

.header > .title {
  font-size: 70px;
}
.header > .links {
  display: flex;
  gap: 10px;
}
.header a {
  color: white;
  font-size: 35px;
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 8px;
  border-radius: 8px;
}

.header a:hover {
  background-color: rgba(255, 255, 255, 0.7);
}

.home {
  height: calc(100vh - 100px);
  background-image: url("../assets/wallpapers/wallpaper3.jpg");
  background-position: 40% 30%;
  background-size: cover;

  display: grid;
  grid-template-columns: 1fr 500px;
  grid-template-rows: 1fr 300px 1fr;
}

.home-message {
  color: white;
  grid-row: 2/3;
  grid-column: 2/3;
  margin-right: 50px;
  background-color: rgb(255, 255, 255, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  border-radius: 3px;
}

.cool-text {
  color: #2563eb;
}

.special-text {
  color: red;
}
/* shop */
.cards {
  display: flex;
  flex-wrap: wrap;
}

.card {
  width: 300px;
  height: 500px;
}

.card > img {
  width: 200px;
  height: auto;
}

button.in-cart {
  background-color: rgb(25, 214, 25);
}

/* cart */
.cart {
  display: grid;
  place-content: center;
}

.cart h1 {
  border-bottom: 1px solid rgb(128, 128, 128, 0.5);
  margin: 0px;
  padding: 15px 0px;
}

.checkout-card {
  display: flex;
  flex-direction: column;
}

.label-row {
  display: flex;
  padding: 15px 0px;
  border-bottom: 1px solid rgb(128, 128, 128, 0.5);
}

.checkout-item {
  height: 300;
  display: flex;
  align-items: center;
}

.checkout-item img {
  height: 90px;
  width: auto;
}

button.checkout {
  width: 150px;
  height: 50px;
  font-size: 16px;
}

.product {
  width: 600px;
  display: flex;
  align-items: center;
}

.price {
  width: 200px;
}

.quantity {
  width: 150px;
  display: flex;
  align-items: center;
}

.subtotal {
  width: 100px;
}

.quantity > .buttons {
  display: flex;
  flex-direction: column;
}

.checkout-item button {
  height: 20px;
  width: 50px;
}
