:root {
  --slate-700: #334155;
  --slate-300: #cbd5e1;
  --slate-900: #0f172a;
  --slate-400: #94a3b8;
}

.header {
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 15px;
  color: white;
  background-color: #2563eb;
  background-color: var(--slate-900);
}

.header > .title {
  font-size: 70px;
}
.header > .links {
  display: flex;
  gap: 10px;
}
.header a {
  color: white;
  font-size: 35px;
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 8px;
  border-radius: 8px;
}

.header a:hover {
  background-color: rgba(255, 255, 255, 0.7);
}
