:root {
  --slate-700: #334155;
  --slate-300: #cbd5e1;
  --slate-900: #0f172a;
  --slate-400: #94a3b8;
  --red-50: #fef2f2;
  --red-100: #fee2e2;
  --red-500: #ef4444;
  --red-600: #dc2626;
  --orange-500: #f97316;
  --amber-400: #fbbf24;
  --amber-100: #fef3c7;
  --lime-400: #a3e635;
  font-family: "Roboto Slab", serif;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;600;700&family=Tinos:wght@400;700&display=swap");

/* app */

.header {
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 15px;
  color: white;
  background-color: #2563eb;
  background-color: var(--red-600);
  position: relative;
  z-index: 1;
  box-shadow: 0px 4px 7px #dc2626;
}

.header > .title {
  font-size: 70px;
}
.header > .links {
  display: flex;
  gap: 10px;
}
.header a {
  color: white;
  font-size: 35px;
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 8px;
  border-radius: 8px;
}

.header a:hover {
  background-color: rgba(255, 255, 255, 0.7);
}
.shop,
.cart {
  background-color: #fafafa;
}
/* home */

.home {
  height: calc(100vh - 100px);
  background-image: url("../assets/wallpapers/wallpaper3.jpg");
  background-position: 40% 30%;
  background-size: cover;

  display: grid;
  grid-template-columns: 1fr 500px;
  grid-template-rows: 1fr 300px 1fr;
}

.home-message {
  color: #f8fafc;

  grid-row: 2/3;
  grid-column: 2/3;
  margin-right: 50px;
  background-color: #22d3ee3d;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  border-radius: 8px;
  font-size: 35px;
  font-weight: bold;
}

.home-message > .text {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}
.home-message a {
  color: white;
  background-color: rgb(37, 99, 235, 0.7);
  font-size: 35px;
  text-decoration: none;
  padding: 8px;
  border-radius: 8px;
}
.home-message a:hover {
  background-color: rgb(37, 99, 235, 0.9);
}

.cool-text {
  color: #2563eb;
}

.special-text {
  font-size: 1.1em;
  color: rgb(248, 28, 28);
  text-shadow: black 0px 0px 4px;
}
/* shop */

.shop {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.shop > .content {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.shop h1 {
  display: flex;
  justify-content: center;
  padding: 40px 0px;
  font-size: 2.5em;
  color: var(--slate-900);
}
.cards {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  max-width: 90%;
  gap: 15px;
}

.card {
  flex: auto;
  background-color: #fff;
  max-width: 400px;
  height: 450px;
  display: grid;
  border: 1px solid rgb(128, 128, 128, 0.4);
  border-radius: 8px;
  justify-content: center;
}

.card > .img {
  background-color: #fff;
  width: 100%;
  height: 200px;
  background-size: contain;
  background-repeat: no-repeat;
  border-bottom: 1px solid rgb(128, 128, 128, 0.4);
  background-position: center;
  place-self: center;
}
.card > .name {
  font-weight: bold;
}

.card > .name,
.card > .price {
  margin-left: 10px;
  font-size: 20px;
}

.card > button {
  height: 40px;
  width: 200px;
  place-self: center;
  font-size: 20px;
  border-radius: 8px;
  border: 1px solid black;
  font-weight: bold;
  background-color: black;
  color: white;
}

.card > button:hover {
  background-color: rgb(133, 199, 113);
}

button.in-cart {
  background-color: rgb(133, 199, 113);
}
button.in-cart:hover {
  background-color: black;
}

/* cart */
.cart {
  display: grid;
  justify-content: center;
  height: calc(100vh - 100px);
}

.cart h1 {
  border-bottom: 1px solid rgb(128, 128, 128, 0.5);
  margin: 0px;
  padding: 40px 0px 20px 0px;
  font-size: 2rem;
}

.checkout-card {
  display: flex;
  flex-direction: column;
}

.label-row {
  display: flex;
  padding: 15px 0px;
  border-bottom: 1px solid rgb(128, 128, 128, 0.5);
  font-size: 18px;
}

.checkout-item {
  height: 100px;
  display: flex;
  align-items: center;
  font-size: 18px;
}

.checkout-item img {
  height: auto;
  width: 100px;
}

button.checkout {
  width: 150px;
  height: 50px;
  font-size: 16px;
}

.product {
  width: 600px;
  display: flex;
  align-items: center;
}

.price {
  width: 200px;
}

.quantity {
  width: 150px;
  display: flex;
  align-items: center;
}

.checkout-item .quantity {
  font-size: 22px;
}
.quantity .buttons {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-left: 5px;
}
.quantity button {
  background-color: var(--slate-400);
  border: none;
  width: 30px;
  height: 30px;
  border-radius: 10px;
  font-size: 22px;
}
.quantity button:hover {
  background-color: var(--slate-300);
}

.subtotal {
  width: 100px;
}

button.delete {
  background-color: var(--red-500);
  border: none;
  border-radius: 5px;
  font-size: 22px;
  color: var(--slate-900);
  padding: 10px;
  color: white;
}
button.delete:hover {
  background-color: var(--red-600);
}
